{% extends 'base.html' %}
{% load static %}
{% block form %}
<h3>Welcome {{request.session.username}}</h3>
 <div class="form-section">
<h2 class="try">Add Product</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
     <div class="form-group">
  <label>Name </label>
  <input type="text" name="name" id="name">
  </div>
  <div class="form-group">
  <label>Description </label><br>
  <input type="text" name="description" id="description"><br>
  </div>
  <div class="form-group"><label>Price </label><br>
  <input type="number" name="price" id="price"><br>
  </div>
  <div class="form-group">
   <label>Country </label><br>
   <input type="text" name="country" id="country"> </div>
  <div class="form-group"><label>Create Date </label><br>
  <input type="date" name="create_date" id="create_date"><br>
  </div>
  <div class="form-group">
    <label>Expire Date </label><br>
    <input type="date" name="expire_date" id="expire_date"><br>
  </div>
  <div class="form-group"><label>Image </label><br>
   <input type="file" name="image" id="image"><br>
  </div><div class="form-group">
  <label>Category</label><br>
  <select class="form-control form-control-lg" name="category" id="category">
    <option value="fruits">Fruits</option>
    <option value="vegtables">Vegetables</option>
    <option value="Dairy">Dairy</option>
    <option value="baked goods">Baked Goods</option>
  </select>
</div>
  <button type="submit" class="btn btn-primary">Add Product</button>
</form>
</div>
{% endblock form %}
{% block cards %}
<h2>All Products</h2>
<div class="card-container">
{% for product in product %}
<div class="card" style="width:  18rem;">
  <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
    <p class="card-text"><strong>Category:</strong> {{ product.category }}</p>  
    <p class="card-text"><strong>Country:</strong> {{ product.country }}</p>   
    <p class="card-text"><strong>Create Date:</strong> {{ product.create_date }}</p> 
    <p class="card-text"><strong>Expire Date:</strong> {{ product.expire_date }}</p> 
    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger  me-2">Delete</a>
    <br>
    <a href="{% url 'update_product' product.id %}" class="btn btn-primary  ">Update</a>
  </div>
</div>
{% endfor %} 
</div>
{% endblock cards %}
