{% extends 'base.html' %}
{% load static %}
{% block form %}
<h3>Welcome {{request.session.username}}</h3>
 <div class="form-section">
<h2 class="try">Add Product</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ category_form.as_p }}
  <button type="submit" class="btn btn-primary">Add Product</button>
</form>
</div>
{% endblock form %}
{% block cards %}
<h2>All Products</h2>
<div class="card-container">
{% for product in product %}
<div class="card" style="width:  18rem;">
  <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
    <p class="card-text"><strong>Category:</strong> {{ product.category }}</p>  
    <p class="card-text"><strong>Country:</strong> {{ product.country }}</p>   
    <p class="card-text"><strong>Create Date:</strong> {{ product.create_date }}</p> 
    <p class="card-text"><strong>Expire Date:</strong> {{ product.expire_date }}</p> 
    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger  me-2">Delete</a>
    <br><br>
    <a href="{% url 'update_product' product.id %}" class="btn btn-primary  ">Update</a>
  </div>
</div>
{% endfor %} 
</div>
{% endblock cards %}
